body {
	height: 100%;
	padding: 0;
	font-family: sans-serif;
	font-size: 15px;
}

.div1 {
	 height: 20px;
}
.div2{
margin: 0 10px 0 190px;
}
.input {
	width: 100%;
}
.div3 {
	float: left;
	margin: -20px 0 0 10px;
}
.padding {
padding-right: 7.6em;
}
.padding2 {
padding-right: 5.8em;
}
form p {
padding-left: 10px;
}
ul {
list-style-type: none;	
padding: 10px;
margin-top: 0;
padding-top: 0;
}

ul li {
padding-top: 5px
}

ul li:nth-child(5) {
padding-top: 10px;
}
.textarea {
border: none;
width: 100%;
}
.mobile {
display: none;	
}
.mobile2 {
display: none;
}
.mobileInput{
	display: none;
}



@media all and (max-width: 570px){
	.mobile2 {
		display: inline;
		padding: 0;
	}
	.dekstop2 {
		display: none;
	}
	.widthSelect {
		width: 100%;
	}
	.div1 {
		display: none;
	}
	.mobileInput {
		display: block;
		margin:0 15px 0 10px;

	}
	
}